<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- importamos las configuraciones Hibernate -->
    <import resource="spring/applicationContext-hibernate.xml"/>
	
	<!-- NO es necesario ya que lo hace el component scan con la anotacion: @Service("cuentaService")
	<bean id="cuentaService"
          class="com.bolsadeideas.ejemplo.banco.services.CuentaServiceImpl">
          <property name="cuentaDao" ref="cuentaDao" />
          <property name="bancoDao" ref="bancoDao"/>
    </bean>-->

</beans>
